body{
    margin: 0;
}



.clockloader{
    margin: 100px auto;
    border: 2px solid #8C6B20 !important;
    
}
.link{
    color: black;
    text-decoration: none;
}

a{
    color: black;
    text-decoration: none;
}