

.prod-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    
}

.filterprod{
    position: relative;
    margin-top: 30px;
    padding: 15px 20px;
    display: grid;
    justify-items: center;
}

.filterprod-img{
    
    max-width: 150px;
    max-height: 35vh;
}

.filterprod-details{
    text-align: center;
    padding-top:15px ;
    padding-bottom: 15px;
    max-width: 150px;
}

.fd-brand{
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.fd-model{
    color:rgb(145, 18, 18);
    margin-bottom: 10px;
}

.fd-price{
    font-weight: 600;
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.277);
    color: black;
}

.fd-overlay{
    position: absolute;
    top:0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
}

.fd-overlay:hover{
    background-color: rgba(255, 228, 196, 0.232);
    cursor: pointer;
    box-shadow: 0px 0px 9px 9px rgba(0, 0, 0, 0.063);
}

.productprops{
    text-decoration: none;
}