
.topsection{
    position: relative;
}

.bannerimg{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    display: block;
}

.home-container{
    position: absolute;
    top:20%;
    right: 60px;
    width: 500px;
    text-align: center;
    color: white;
}

.contain-head{
    margin: 0;
    font-size: 45px;
}

.contain-para{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;

}

.contain-btn{
    font-size: 15px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
}

.contain-btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.bannerimg2{
    width: 100%;
    display: block;
    cursor: pointer;
}

.section1{
    position: relative;

}
.section1-head{
    font-size: 5vw;
    font-weight: 600;
    text-align: center;
    position: absolute;
    bottom: 40px;
    color: white;
    filter: drop-shadow(0px 0px 25px #000) drop-shadow(0px 0px 30px #000);
}

.section2{
    background-color: #141414;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.contain-btn2{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
}

.contain-btn2:hover{
    background-color: white;
    color: #141414;
}

.section2>button:last-child{
    color: #141414;
    background-color: white;
    font-weight: 400;
}

.section2>button:last-child:hover{
    color: white;
    background-color: transparent;
}

.section2>div:nth-child(2){
    margin: 160px auto 20px auto;
    font-size: 2.3rem;
    font-weight: bold;
}

.section2>div:nth-child(3){
    font-size: 1.5rem;
}
.section2>div:nth-child(4){
    font-size: 4rem;
}

.each-slide-effect {
    display: grid;
    align-items: center;
    background-color: white;
    height: 100%;
  }

  .image-slider-img{
    max-width: 60%;
    cursor: pointer;
  }
  
  .linkslider{
    display: grid;
    justify-items: center;
  }

  @media screen and (max-width:750px) {
    .contain-head{
        font-size: 4vw;
    }

    .home-container{
        width: 50%;
    }
  
  }

  @media screen and (max-width:500px) {
    .image-slider-img{
        max-width: 80%;
    }
  }