.account{
    margin: 0 8vw 50px 8vw;
}

.account-main{
    display:grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    border-top: 1px solid #d4d5d9;
}

.account-main-l{
    border-right: 1px solid #d4d5d9;
    box-shadow:3px 0px 5px rgb(0 0 0 / 10%);
    padding: 30px;
}

.account-main-sec{
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #d4d5d9;
}

.account-main-head{
    margin-bottom: 12px;
    color: #7e818c;
    font-size: 13px;
}

.account-main-subhead{
    margin-top: 3px;
    cursor: pointer;
}

.account-main-subhead:hover{
    color: #C29427;
    font-weight: 600;
}

.account-main-title{
    margin-bottom: 25px;
    cursor: pointer;
}

.account-main-title:hover{
    color: #C29427;
    font-weight: 600;
}

.account-main-r{
    background-color: #f8f8f8dc;
    margin-top: 20px;
    padding: 25px 15px;
    border-radius: 5px;
}

.account-r-top{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 30px;
    text-align: left;
}

.acc-img{
    border-radius: 50%;
    width: 9vw;
}
.acc-name{
    font-weight: bolder;
    font-size: 20px;
}

.account-r-bot{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 5vw 0 5vw;
    gap: 20px;
}

.account-r-bot>div{
    border: 1px solid #d4d5d9;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.account-r-bot-div{
    padding: 30px;
}

.account-r-bot>div:hover{
    background-color: bisque;
}

.profile-main{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 30px;
    align-items: center;
    margin-top: 40px;
    margin-left: 4vw;
    margin-right: 4vw;
}

.profile-main>div{
    padding:10px;
    /* text-align: center; */
}

.profile-main>div>span{
    color: red;
}

.profile-main>input{
    padding:5px;
    outline-color:#C29427;
    border: 1px solid #d4d5d9;
    border-radius: 5px;
}

.input-disabled{
    background-color: #eeeaeadc;
}

.acc-btn-main{
    display: flex;
    justify-content: flex-end;
    margin:20px 4vw 0 4vw;
}

.acc-btn{
    background-color: bisque;
    border: 1px solid rgba(0, 0, 0, 0.184);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

}

.acc-btn:active{
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.495);
}

.acc-title{
    font-size: 1.3rem;
}

.acc-pass-main{
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
    margin: 60px 13vw;
    padding: 20px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}

.acc-pass-main>input{
    padding: 5px;
    outline-color:#C29427;
    border: 1px solid #d4d5d9;
    border-radius: 5px;
}

.acc-pass-main>button{
    width: max-content;
    justify-self: center;
}

.acc-pass-main>div{
    font-size: 15px;
}

.acc-alert{
    color: red;
    justify-self: center;
}

.acc-pass-main>div>span{
    color: red;
}

.profile{
    position: relative;
}
.profile>div:nth-child(3){
    color: red;
    text-align: center;
}

.profile-main>select{
    padding:5px;
    background-color: white;
    border: 1px solid #d4d5d9;
    border-radius: 5px;
}

.profile-main>select>option{
    background-color: bisque;
}

.add-block{
    background-color: white;
    font-size: 14px;
    padding: 20px;
    margin-top: 20px;
}

.add-display{
    margin: 20px 4vw 0 4vw;
}

.add-display>div:last-child{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.no-add{
    display: inline !important;
    margin-right: 20px;
}

.acc-btn-m{
    margin-right: 10px;
}

.order-main{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    row-gap: 15px;
}

.order-main-img{
    height: 17vh;
}

.order-main-des{
    color: #7e818c;
    font-size: 0.9rem;
    padding: 10px 0;
}

.order-main-div1{
    display: grid;
    align-items: center;
    justify-items: center;
}
.order-main-div3{
    border-left: 1px solid rgba(104, 104, 104, 0.406);
    display: grid;
    justify-items: center;
    align-items: center;
}

.order-main-div2{
    display: grid;
    align-content: center;
    justify-content: center;
}

.order-msg{
    justify-items: center;
}

.acc-header{
    display: grid;
    grid-template-columns: 1fr;
}

.acc-header>button{
    display: none;
}

@media screen and (max-width:500px) {

    .account-main{
        grid-template-columns: 1fr;
        position: relative;
    }
    .account-main-l{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 10;
        border: 1px solid #d4d5d9;
        text-align: center;
        padding: 20px 0;
    }

    .account-main-l-hide{
        display: none;
    }

    .account-main-sec{
        padding-top: 10px;
        padding-bottom: 0;
    }

    .acc-header>button{
        display: inline-block;
        padding: 8px;
    }
    
}