

.admin{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:30px;
    gap:20px;
}

.admin>div{
    text-align: center;
    border-radius: 15px;
    border: 1px solid #d4d5d9;
}

.admin-div{
    padding: 30px;
}

.admin>div:hover{
    background-color: bisque;
    cursor: pointer;
}

.admin-main{
    margin-top: 20px;
    height: 380px;
    overflow-y: auto;
}

.admin-table{
    display: grid;
    grid-template-columns: auto 3fr 1fr;
    row-gap: 10px;
}

.admin-table>div{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.user-table{
    grid-template-columns: auto 2fr 3fr auto 1fr;
}

.product-table{
    grid-template-columns: auto 2fr auto 1fr;
}

.order-table{
    grid-template-columns: auto auto auto auto auto;
}

.admin-table-head{
    padding: 7px;
    background-color: bisque;
}

.edit-icon{
    margin-right: 15px;
}

.admin-icon{
    color: rgba(36, 36, 36, 0.76);
    cursor: pointer;
}

.admin-header{
    display: grid;
    grid-template-columns: 1fr auto;
}

.admin-route-main{
    position: relative;
}

.admin-action{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgb(253, 245, 236);
    height: 100%;
    width: 50%;
    border-radius: 20px;
    border: 1px solid rgb(199, 179, 153);
    box-shadow: 0 0 4px 2px rgb(146, 140, 132);
    overflow: auto;
}

.admin-action>div:first-child{
    position: sticky;
    top: 10px;
    left:10px;
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.admin-action>div:nth-child(2){
    display: grid;
    grid-template-columns: auto 1fr;
    gap:10px;
    align-items: center;
    margin: 50px 20px 50px 20px;
    word-break: break-all;
}

.admin-action>div:nth-child(2)>input{
    padding:5px;
    outline-color:#C29427;
    border: 1px solid #d4d5d9;
    border-radius: 5px;
}

.admin-action>div:last-child{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}