@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');


body{
    font-family: 'Old Standard TT', serif;
}

.navbar {
  display: grid;
  grid-template-columns: 2fr repeat(7, 1fr);
  font-size: 1.1rem;
  font-weight: bold;
  background-color: bisque;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid rgb(196, 181, 163);
}

.logo {
  width: 100px;
}

.navs:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  cursor: pointer;
}

.collection-menu {
  background-color: bisque;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.collection-menu-hidden {
  display: none;
}

.searchbar {
  background-color: rgba(255, 228, 196, 0.711);
  text-align: center;
  padding: 40px;
}

.collection-menu,
.searchbar {
  position: absolute;
  top: 86px;
  left: 0;
  right: 0;
  z-index: 1;
}

.searchbar-hidden {
  display: none;
}

.searchinput {
  font-size: 1.4rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  background-color: transparent;
  width: 75vw;
}

.searchinput:focus {
  outline: none;
}

.searchinput::placeholder {
  color: black;
}

.carticon {
  font-size: 2rem;
  stroke-width: 0.2px;
}

.usericon {
  font-size: 1.5rem;
  stroke-width: 0.9px;
}

.searchicon {
  font-size: 1.3rem;
}

.menu-head {
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(196, 181, 163);
}

.menu-items:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}

:root{
    --dropdown: rgb(255, 255, 255);
}

.block {
  background-color: var(--dropdown);
  width: 150px;
  height: 100px;
  position: absolute;
  right: 45px;
  top: 100px;
  z-index: 1;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-bottom: 15px solid var(--dropdown);
  position: absolute;
  right: 55px;
  top: 86px;
  z-index: 1;
}

.block-comp{
    height: 40px;
    margin-top: 6.5px;
    padding-left: 20px;
}

.block-comp:hover{
    cursor: pointer;
    background-color: bisque;
}

.user-drop-hide{
    display: none;
}