@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');


body{
    font-family: 'Old Standard TT', serif;
}

.navbar {
  display: grid;
  grid-template-columns: 2fr repeat(7, 1fr);
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Text Me One', sans-serif;
  background-color: bisque;
  justify-items: center;
  border-bottom: 1px solid rgb(196, 181, 163);
}

.logo-main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-decoration: none;
  color: #C29427;
  font-size: 35px;
  font-family: 'Great Vibes', cursive;
  
}

.logo {
  width: 100px;  /*100px*/
}

.navs{
  display: grid;
  align-items: center;
}

.navbar>div:first-child{
  display: grid;
  align-items: center;
}


.navs:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  cursor: pointer;
}

.collection-menu {
  background-color: #141414;
  color: bisque;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-items: center; */
  gap: 30px;
  padding: 0 5vw 20px 5vw;
}

.menu-items{
  width: max-content;
  color: bisque;
}

.collection-menu-hidden {
  display: none;
}



.header-hidden-contain{
  position: relative;
}

.collection-menu,
.searchbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.searchbar {
  background-color: bisque;
  text-align: center;
  padding: 40px;
}

.searchbar-hidden {
  display: none;
}

.searchinput {
  font-size: 1.4rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid rgba(85, 84, 84, 0.735);
  background-color: transparent;
  width: 75vw;
}

.searchinput:focus {
  outline: none;
}

.searchinput::placeholder {
  color: black;
}

.carticon {
  font-size: 2rem;
  stroke-width: 0.2px;
}

.usericon {
  font-size: 1.5rem;
  stroke-width: 0.9px;
}

.searchicon {
  cursor: pointer;
}

.menu-head {
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(196, 181, 163);
  font-weight: bold;
}


.menu-items:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}

:root{
    --dropdown: rgb(231, 231, 231);
}

.block {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: bisque;
  width: 150px;
  border-radius: 3px;
  position: absolute;
  right: 3vw;
  top: 15px;
  z-index: 1;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-bottom: 15px solid bisque;
  position: absolute;
  right: 4.5vw;
  top: 0px;
  z-index: 1;
  
}

.block-comp{

  padding: 10px;
  text-decoration: none;
  color: #141414;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #141414;
  transition: all 0.3s ease-in-out;
}

.block-comp:hover{
    cursor: pointer;
    background-color: #141414;
    color: bisque;
    transition: all 0.3s ease-in-out;
}

.user-drop-hide{
    display: none;
}

.navs-menu{
  display: none;
}

.mob-menu-hide{
  display: grid;
  z-index: 100;
  grid-template-columns: 1fr;
  font-size: 30px;
  color: bisque;
  background-color:#141414;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  transition: all 0.5s ease-in-out;
  
}

.mob-menu-hide>div{
  display: grid;
  justify-items: center;
}
.mob-menu-hide>div:first-child{
  justify-content: flex-end;
  align-items: center;
  font-size: 50px;
  padding-right: 20px;
}

.mb-link{
  color: bisque !important;
}

.mob-menu-icon{
  cursor: pointer;
}

.header-main{
  position: relative;
}

@media screen and (max-width:750px) {
  .navs{
    font-size: 15px;
  }

  .logo{
    width: 60px;
  }
  .logo-txt{
    font-size: 25px;
  }

  .navbar{
    grid-template-columns: repeat(8, auto);
    height: 70px;
  }

  .triangle{
    right: 2vw;
  }

  .block{
    right: 1vw;
  }

  .collection-menu{
    font-size: 2vw;
  }

  .searchbar{
    padding: 5vw;
  }

}


@media screen and (max-width:535px) {
  
  .navs-hide{
    display: none;
  }

  .navbar{
    grid-template-columns: 2fr repeat(3,1fr);
  }

  .navs-menu{
    display: grid;
    align-items: center;
  }

  .mob-menu{
    display: grid;
    z-index: 100;
    grid-template-columns: 1fr;
    font-size: 30px;
    color: bisque;
    background-color:#141414;
   position: fixed;
   top: 0;
   /* left: 0; */
   right: 0;
   width: 100%;
   height: 100vh;
   transition: all 0.5s ease-in-out;
  }

  .mob-menu>div{
    display: grid;
    justify-items: center;
  }
  .mob-menu>div:first-child{
    justify-content: flex-end;
    align-items: center;
    font-size: 50px;
    padding-right: 20px;
  }
  

}

@media screen and (max-width:450px) {
  
}