@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');


body{
    font-family: 'Old Standard TT', serif;
}

.navbar {
  display: grid;
  grid-template-columns: 2fr repeat(7, 1fr);
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Text Me One', sans-serif;
  
  background-color: bisque;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid rgb(196, 181, 163);
}

.logo-main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-decoration: none;
  color: #C29427;
  font-size: 35px;
  font-family: 'Great Vibes', cursive;
  
}

.logo {
  width: 100px;
}


.navs:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  cursor: pointer;
}

.collection-menu {
  background-color: bisque;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.collection-menu-hidden {
  display: none;
}

.searchbar {
  background-color: bisque;
  text-align: center;
  padding: 40px;
}

.collection-menu,
.searchbar {
  position: absolute;
  top: 81px;
  left: 0;
  right: 0;
  z-index: 1;
}

.searchbar-hidden {
  display: none;
}

.searchinput {
  font-size: 1.4rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  background-color: transparent;
  width: 75vw;
}

.searchinput:focus {
  outline: none;
}

.searchinput::placeholder {
  color: black;
}

.carticon {
  font-size: 2rem;
  stroke-width: 0.2px;
}

.usericon {
  font-size: 1.5rem;
  stroke-width: 0.9px;
}

.searchicon {
  font-size: 1.3rem;
}

.menu-head {
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(196, 181, 163);
}

.menu-items:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}

:root{
    --dropdown: rgb(231, 231, 231);
}

.block {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: var(--dropdown);
  width: 150px;
  /* height: 100px; */
  border-radius: 3px;
  position: absolute;
  right: 45px;
  top: 97px;
  z-index: 1;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-bottom: 15px solid var(--dropdown);
  position: absolute;
  right: 55px;
  top: 82px;
  z-index: 1;
  
}

.block-comp{

  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 3px;
 
}

.block-comp:hover{
    cursor: pointer;
    background-color: bisque;
    border: 1px solid #C29427;
}

.user-drop-hide{
    display: none;
}

.links{
  text-decoration: none;
  color: black;
}